Repository crossbeam-rs/crossbeam, pull requests merged in 2020-12, with the labels that each got.

#611 Make const_fn crate optional dependency
  crossbeam-epoch/Cargo.toml
  crossbeam-epoch/src/atomic.rs
Labels: crossbeam-epoch

#619 Deprecate AtomicCell::compare_and_swap
  crossbeam-utils/benches/atomic_cell.rs
  crossbeam-utils/src/atomic/atomic_cell.rs
Labels: crossbeam-utils

#615 Port Golang chan1.go Test
  crossbeam-channel/tests/golang.rs
Labels: crossbeam-channel
