Repository crossbeam-rs/crossbeam, pull requests merged in 2020-09, with the labels that each got.

#552 Make Local less than 2048 bytes
  crossbeam-epoch/src/internal.rs
Labels: crossbeam-epoch

#559 Use intra-doc links
  ci/crossbeam-channel.sh
  ci/crossbeam-deque.sh
  ci/crossbeam-epoch.sh
  ci/crossbeam-queue.sh
  ci/crossbeam-skiplist.sh
  ci/crossbeam-utils.sh
  ci/crossbeam.sh
  crossbeam-channel/src/channel.rs
  crossbeam-channel/src/err.rs
  crossbeam-channel/src/lib.rs
  crossbeam-channel/src/select.rs
  crossbeam-channel/src/select_macro.rs
  crossbeam-deque/src/lib.rs
  crossbeam-epoch/src/atomic.rs
  crossbeam-epoch/src/guard.rs
  crossbeam-epoch/src/lib.rs
  crossbeam-queue/src/array_queue.rs
  crossbeam-queue/src/lib.rs
  crossbeam-queue/src/seg_queue.rs
  crossbeam-utils/src/lib.rs
  crossbeam-utils/src/sync/mod.rs
  crossbeam-utils/src/sync/sharded_lock.rs
  src/lib.rs
Labels: docs

#554 Added "deadline" versions of the various "timeout" entry points in crossbeam channel
  crossbeam-channel/src/channel.rs
  crossbeam-channel/src/flavors/at.rs
  crossbeam-channel/src/flavors/mod.rs
  crossbeam-channel/src/lib.rs
  crossbeam-channel/src/select.rs
Labels: crossbeam-channel

#567 Port select2.go test to Rust
  crossbeam-channel/tests/golang.rs
Labels: crossbeam-channel
