Repository crossbeam-rs/crossbeam, pull requests merged in 2021-05, with the labels that each got.

#697 fixed go.go to properly select over channels during the put operation in select_both
  crossbeam-channel/benchmarks/go.go
Labels: crossbeam-channel

#694 epoch: Fix UB in Pointable impl of [MaybeUninit<T>]
  crossbeam-epoch/src/atomic.rs
Labels: crossbeam-epoch

#708 add len() to Stealer
  crossbeam-deque/src/deque.rs
Labels: crossbeam-deque

#706 Add Atomic::fetch_update
  crossbeam-epoch/src/atomic.rs
Labels: crossbeam-epoch
