Repository crossbeam-rs/crossbeam, pull requests merged in 2021-07, with the labels that each got.

#718 added get_or_insert_with function
  crossbeam-skiplist/src/base.rs
  crossbeam-skiplist/src/map.rs
  crossbeam-skiplist/tests/base.rs
  crossbeam-skiplist/tests/map.rs
Labels: crossbeam-skiplist

#722 Simplify `AtomicCell` `LOCKS`
  crossbeam-utils/src/atomic/atomic_cell.rs
Labels: crossbeam-utils

#726 Fix deque steal race condition
  crossbeam-deque/src/deque.rs
Labels: crossbeam-deque
