Repository crossbeam-rs/crossbeam, pull requests merged in 2022-02, with the labels that each got.

#779 Don't call assume_init on Deferred's Data
  crossbeam-epoch/src/deferred.rs
Labels: crossbeam-epoch

#781 Fix unsoundness of AtomicCell<*64> arithmetics on 32-bit targets that support Atomic*64
  crossbeam-utils/src/atomic/atomic_cell.rs
Labels: crossbeam-utils

#785 Add AtomicCell::{fetch_nand,fetch_max,fetch_min}
  crossbeam-utils/src/atomic/atomic_cell.rs
  crossbeam-utils/tests/atomic_cell.rs
Labels: crossbeam-utils

#786 Prepare for the next release
  crossbeam-channel/CHANGELOG.md
  crossbeam-epoch/CHANGELOG.md
  crossbeam-epoch/Cargo.toml
  crossbeam-queue/CHANGELOG.md
  crossbeam-queue/Cargo.toml
  crossbeam-utils/CHANGELOG.md
  crossbeam-utils/Cargo.toml
Labels: crossbeam-epoch, crossbeam-utils, crossbeam-queue

#787 Do not provide AtomicCell when cfg(crossbeam_loom) is enabled
  crossbeam-epoch/src/lib.rs
  crossbeam-utils/src/atomic/atomic_cell.rs
  crossbeam-utils/src/atomic/mod.rs
Labels: crossbeam-utils
