Repository crossbeam-rs/crossbeam, pull requests merged in 2022-09, with the labels that each got.

#904 Improve docs of channel creation functions
  crossbeam-channel/src/channel.rs
Labels: crossbeam-channel, docs

#912 Add #[must_use] to ScopedThreadBuilder
  crossbeam-utils/src/thread.rs
Labels: crossbeam-utils

#913 Remove dependency on once_cell and work around windows-gnu LTO issue
  .github/workflows/ci.yml
  crossbeam-epoch/Cargo.toml
  crossbeam-epoch/src/default.rs
  crossbeam-epoch/src/lib.rs
  crossbeam-epoch/src/sync/mod.rs
  crossbeam-epoch/src/sync/once_lock.rs
  crossbeam-utils/Cargo.toml
  crossbeam-utils/src/sync/mod.rs
  crossbeam-utils/src/sync/once_lock.rs
  crossbeam-utils/src/sync/sharded_lock.rs
Labels: crossbeam-epoch, crossbeam-utils

#914 0.8: Prepare for the next release
  .clippy.toml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  ci/dependencies.sh
  ci/rustfmt.sh
  crossbeam-channel/src/channel.rs
  crossbeam-channel/tests/golang.rs
  crossbeam-channel/tests/ready.rs
  crossbeam-deque/src/lib.rs
  crossbeam-epoch/CHANGELOG.md
  crossbeam-epoch/Cargo.toml
  crossbeam-epoch/src/default.rs
  crossbeam-epoch/src/lib.rs
  crossbeam-epoch/src/sync/mod.rs
  crossbeam-epoch/src/sync/once_lock.rs
  crossbeam-skiplist/tests/base.rs
  crossbeam-skiplist/tests/map.rs
  crossbeam-utils/CHANGELOG.md
  crossbeam-utils/Cargo.toml
  crossbeam-utils/src/cache_padded.rs
  crossbeam-utils/src/sync/mod.rs
  crossbeam-utils/src/sync/once_lock.rs
  crossbeam-utils/src/sync/sharded_lock.rs
  crossbeam-utils/src/sync/wait_group.rs
  no_atomic.rs
Labels: crossbeam-epoch, crossbeam-utils
