Repository crossbeam-rs/crossbeam, pull requests merged in 2022-07, with the labels that each got.

#701 Add {Atomic, Shared}::try_into_owned
  crossbeam-epoch/src/atomic.rs
Labels: crossbeam-epoch

#874 Use get_mut instead of atomic load in Drop impls
  crossbeam-deque/src/deque.rs
  crossbeam-queue/src/array_queue.rs
  crossbeam-queue/src/seg_queue.rs
Labels: crossbeam-deque, crossbeam-queue

#879 epoch: Adjust MAX_OBJECTS
  crossbeam-epoch/src/internal.rs
Labels: crossbeam-epoch

#880 Prepare for the next release
  CHANGELOG.md
  Cargo.toml
  crossbeam-channel/CHANGELOG.md
  crossbeam-channel/Cargo.toml
  crossbeam-deque/CHANGELOG.md
  crossbeam-deque/Cargo.toml
  crossbeam-epoch/CHANGELOG.md
  crossbeam-epoch/Cargo.toml
  crossbeam-queue/CHANGELOG.md
  crossbeam-queue/Cargo.toml
  crossbeam-utils/CHANGELOG.md
  crossbeam-utils/Cargo.toml
Labels: crossbeam-channel, crossbeam-epoch, crossbeam-utils, crossbeam-deque, crossbeam, crossbeam-queue

#796 epoch: Remove ptr-to-int casts
  Cargo.toml
  ci/miri.sh
  crossbeam-epoch/src/atomic.rs
  crossbeam-epoch/src/collector.rs
  crossbeam-epoch/src/internal.rs
  crossbeam-epoch/src/lib.rs
  tests/subcrates.rs
Labels: crossbeam-epoch, breaking change

#887 Update readme
  README.md
  crossbeam-channel/README.md
  crossbeam-queue/README.md
  crossbeam-skiplist/README.md
  crossbeam-utils/README.md
Labels: docs
