Repository crossbeam-rs/crossbeam, pull requests merged in 2023-01, with the labels that each got.

#954 Make `scope()` function soft-deprecated
  crossbeam-utils/src/thread.rs
Labels: crossbeam-utils

#953 Wait forever on very large timeout
  crossbeam-channel/src/channel.rs
  crossbeam-channel/src/flavors/at.rs
  crossbeam-channel/src/flavors/tick.rs
  crossbeam-channel/src/select.rs
  crossbeam-channel/src/utils.rs
  crossbeam-utils/src/sync/parker.rs
Labels: crossbeam-channel, crossbeam-utils

#955 Deps: update to memoffset 0.8
  crossbeam-epoch/Cargo.toml
Labels: crossbeam-epoch
