Repository crossbeam-rs/crossbeam, pull requests merged in 2023-09, with the labels that each got.

#1025 CachePadded: Use 64-byte alignment on riscv32 and riscv64
  crossbeam-utils/src/cache_padded.rs
Labels: crossbeam-utils

#1026 epoch: Fix false sharing in Local struct
  crossbeam-epoch/src/internal.rs
Labels: crossbeam-epoch

#1012 utils: Return UnparkReason from park_{timeout,deadline}
  crossbeam-utils/src/sync/mod.rs
  crossbeam-utils/src/sync/parker.rs
  crossbeam-utils/tests/parker.rs
Labels: crossbeam-utils, breaking change
