Repository crossbeam-rs/crossbeam, pull requests merged in 2024-12, with the labels that each got.

#1150 feat: add new_biased constructor for biased channel selection
  crossbeam-channel/src/select.rs
Labels: crossbeam-channel

#1154 Remove optimistic spinning from Context::wait_until
  crossbeam-channel/src/context.rs
Labels: crossbeam-channel

#1155 utils: Move atomic module behind atomic feature
  .github/workflows/ci.yml
  Cargo.toml
  ci/miri.sh
  ci/san.sh
  ci/test.sh
  crossbeam-channel/Cargo.toml
  crossbeam-epoch/Cargo.toml
  crossbeam-epoch/src/lib.rs
  crossbeam-utils/Cargo.toml
  crossbeam-utils/src/lib.rs
Labels: crossbeam-utils, breaking change

#1157 Relax MSRV of utils to 1.56
  Cargo.toml
  ci/check-features.sh
  crossbeam-utils/Cargo.toml
  crossbeam-utils/README.md
  crossbeam-utils/src/sync/once_lock.rs
Labels: crossbeam-utils

#1015 AtomicCell: Use atomic-maybe-uninit
  .github/workflows/ci.yml
  crossbeam-utils/Cargo.toml
  crossbeam-utils/build.rs
  crossbeam-utils/src/atomic/atomic_cell.rs
  crossbeam-utils/tests/atomic_cell.rs
Labels: crossbeam-utils

#1143 Return `Some` for only one thread when calling `remove()`
  crossbeam-skiplist/src/base.rs
  crossbeam-skiplist/tests/base.rs
Labels: crossbeam-skiplist, S-waiting-on-author
